#header {
  opacity: 0;
}

/* banner section */
#banner {
  width: 100%;
  background: url(../image/index/banner_background.png);
  background-size: cover;
  background-position: center;
}

#banner .header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#banner .header .header-logo {
  margin: 47px;
}

#banner .header .header-link a{
  color: #452712;
}

#banner .banner .banner-graphic {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#banner .banner .banner-graphic img {
  height: auto;
  width: 73%;
}

#banner .banner .banner-text {
  position: absolute;
  z-index: 20;
  margin-top: 3%;
  margin-left: 15%;
}

#banner .banner .banner-text h1 {
  margin-bottom: 45px;
  font-size: 42px;
  color: #591616;
}

#banner .banner .banner-text .search-link {
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #ae3e3e;
}

#banner .banner .banner-dot1 {
  position: absolute;
  z-index: 10;
  margin-left: 10%;
}

#banner .banner .banner-dot2 {
  position: absolute;
  z-index: 10;
  right: 0;
  margin-top: 30%;
  margin-right: 8%;
}

/* about-us section */
#about {
  width: 100%;
  height: 962px;
  background: url(../image/index/section1.png);
  background-size: cover;
  background-position: center;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#about .about-area {
  width: 100%;
  padding: 80px 25px;
  background: linear-gradient(180deg, rgba(89, 22, 22, 0.65) 0%, rgba(174, 62, 62, 0.65) 100%);
}

#about .about-area .about-title {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#about .about-area .about-title h1 {
  width: 90%;
  font-size: 40px;
  text-align: left;
  color: #ffffff;
}

#about .about-area .about-mid {
  margin: 40px 0px;
}

#about .about-area .about-desc p {
  color: #ffffff;
  margin: 3px 0px;
  text-align: left;
}

#about .about-area .about-logo img {
  width: 75%;
  height: auto;
}

#about .about-area .about-bottom {
  margin-left: 0px;
}

#about .about-area .about-btn {
  padding: 5px;
  color: #ffffff;
  border: solid 1px #ffffff;
  border-radius: 5px;
}

#about .about-background-deco {
  right: 0px;
  margin-right: 19%;
  margin-top: -2%;
  position: absolute;
  z-index: 0;
}

#about .about-background-deco img {
  width: 635px;
  height: auto;
}

#about .about-dot1 {
  position: absolute;
  z-index: 10;
  right: 0;
  margin-top: 12%;
  margin-right: 22%;
}

/* detail section */
#feature {
  width: 100%;
  padding: 100px 0px;
  background: url(../image/line_background.png);
  background-size: cover;
  background-position: center;
}

#feature .feature-area {
  text-align: center;
}

#feature .feature-area h1 {
  font-size: 40px;
  color: #591616;
}

#feature .feature-area .feature-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#feature .feature-area .feature-img img {
  width: 100%;
  height: auto;
}

#feature .feature-area .feature-img-beckground {
  position: absolute;
  z-index: 0;
}

#feature .feature-area .feature-img-beckground img {
  width: 445px;
  height: auto;
  margin-top: 30%;
}

#feature .single-feature {
  margin: 50px 0px;
}

#feature .single-feature .feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

#feature .single-feature .feature-icon img {
  width: auto;
  height: 60%;
}

#feature .single-feature .feature-text h4 {
  font-size: 25px;
  margin-bottom: 10px;
  text-align: left;
  color: #591616;
}

#feature .single-feature .feature-text p {
  font-size: 14px;
  margin: 0px;
  color: #707070;
  text-align: left;
}

/* search */

#search {
  width: 100%;
  background: url(../image/search/banner_background.jpg);
  background-size: cover;
  background-position: center;
}

.search {
  padding-top: 100px;
}

.search-title h1 {
  color: #591616;
}

.search-box {
  color: #ffffff;
  margin-bottom: 200px;
}

.searchbox-bg {
  background: linear-gradient(180deg, #591616aa 0%, #AE3E3Eaa 100%);
  padding: 75px 10px;
}

.search-title {
  margin-bottom: 50px;

}

.search-box .col-filter_group {
  border-right: #ffffff 1px solid;
  padding: 0px 50px;
}

.search-box .col-filter_group:last-child {
  border-right: none;
  padding-right: 90px;
}

.button-continue {
  margin: auto 0 auto -40px;
  height: 80px;
  width: 80px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 100%;
  background: url("../image/search/ic_continue.png"), linear-gradient(101.1deg, #F2F77C 10.04%, #FFDB79 31.61%, #FFE1F4 93.64%);
}

.button-continue:hover {
  background: url("../image/search/ic_continue.png"), linear-gradient(101.1deg, #F2F77C 50.04%, #FFDB79 61.61%, #FFE1F4 100%);

}

.search-dot1 {
  position: absolute;
  z-index: 10;
  margin-left: 10%;
}

.search-dot2 {
  position: absolute;
  z-index: 10;
  right: 0;
  margin-top: 30%;
  margin-right: 8%;
}

@media screen and (max-width: 1280px){
  #banner .banner .banner-text h1 {
    font-size: 36px;
  }

  #about .about-dot1 {
    margin-top: 15%;
  }
}

@media screen and (max-width: 1024px){
  #banner .header .col-lg-1{
    padding: 0px;
  }

  #banner .banner .banner-text h1 {
    font-size: 26px;
  }

  #banner .banner .banner-dot2 {
    margin-top: 25%;
    margin-right: 8%;
  }

  #about .about-area {
    padding: 50px 25px;
  }

  #about .about-dot1 {
    margin-right: 15%;
  }

  #about .about-background-deco {
    margin-right: 5%;
    margin-top: -2%;
  }

  #about .about-background-deco img {
    width: 540px;
    height: auto;
  }

  #feature .feature-area .feature-img-beckground img {
    width: 380px;
    height: auto;
    margin-top: 50%;
  }
}

@media screen and (max-width: 769px){
  #banner .banner{
    margin-top: 20px;
  }

  #banner .banner .banner-text {
    margin-top: 3%;
    margin-left: 5%;
  }

  #banner .banner .banner-text .search-link {
    font-size: 16px;
  }

  #banner .banner .banner-dot1 img{
    width: 50%;
  }

  #banner .banner .banner-dot2 {
    margin-top: 30%;
    margin-right: 4%;
  }

  #banner .banner .banner-dot2 img{
    width: 50%;
  }

  #about {
    height: 800px;
  }

  #about .about-background-deco {
    margin-right: 20%;
    margin-top: -5%;
  }

  #about .about-background-deco img {
    width: 600px;
    height: auto;
  }

  #about .about-dot1 {
    margin-top: 25%;
  }

  #feature .feature-area .feature-img img {
    width: 70%;
    height: auto;
  }

  #feature .feature-area .feature-img-beckground img {
    display: none;
  }
}

@media screen and (max-width: 376px){
  #banner .header .col-3{
    padding: 0px;
  }

  #banner .banner .banner-dot1 {
    display: none;
  }

  #banner .banner .banner-dot2 {
    display: none;
  }

  #about .about-area .about-title h1 {
    font-size: 32px;
  }

  #about .about-background-deco {
    display: none;
  }

  #about .about-dot1 {
    display: none;
  }

  #feature {
    padding: 50px 0px;
  }

  #feature .feature-area h1 {
    font-size: 28px;
  }

  #feature .single-feature {
    margin: 10px 0px;
  }

  #feature .single-feature .feature-text h4 {
    font-size: 20px;
    text-align: center;
  }

  #feature .single-feature .feature-text p {
    font-size: 12px;
    text-align: left;
  }

  /* 我先藏起來不然其他section不好調 */
  #search{
    display: none;
  }
}
